/* .name-employee {
    font-size: 35px;
    color:aqua;
}
.welcome-class {
    font-size: 35px;
    color:red;
    font-style: italic;
} */
/* .logout-button {
    color: red;
    background-color: black;
} */